
body {
  background-color: rgb(43, 40, 40);
  padding: 0%;
  margin: 0%;
}

  header {
    padding: 50px;
    background-color: grey;
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: rowback;
    background-color: black;

  }
   nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
   }
    
   aside {
    flex:30px;
    background-color: black;
   }