
body {
  background-color:grey;
  padding: 0%;
  margin: 0%;
}

  header {
    padding: 50px;
    background-color: grey;
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    background-color: black;

  }
   nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
   }
   .row{
    display: flex;
    flex-wrap: wrap;
   } 
   aside {
    flex:30px;
    background-color: black;
    padding: 20px;
    color: white;
   }
   section{
    flex: 70px;
    background-color: black;
    padding: 20px;
    color: white;
   }
   footer{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
   }